.ListItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	background-color: rgb(247, 238, 238);
	border: 1px solid #b9afaf;
}

.item-info {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}

.item-category {
	font-weight: bold;
	margin-right: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
}
