.list-item {
	background-color: #ffe5cf;
	border: 2px solid #e5e7eb;
	border-color: #ff885b;
	margin: 5px;
	transition:
		background-color 0.3s,
		box-shadow 0.3s;
}

.list-item:hover {
	background-color: #ff885b;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
