@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-sans bg-base text-secondary dark:bg-secondary dark:text-base;
	}

	a,
	button {
		@apply cursor-pointer;
	}

	.logo {
		@apply text-2xl md:text-3xl flex flex-row items-center md:gap-2
			text-accent dark:text-primary;
		font-family: 'Gloria Hallelujah', sans-serif;
	}

	/* .logo img {
		@apply h-[50px] md:h-[60px];
	} */

	/* .layout {
		@apply flex flex-col h-dvh;
	} */

	/* .layout-header {
		@apply mb-4;
	} */

	/* .header-container {
		@apply container mx-auto flex justify-between items-center p-2;
	} */

	/* .layout-main {
		@apply mx-auto w-full max-w-[600px] p-5 pb-16;
	} */

	/* .nav {
		@apply bottom-0 fixed w-full p-2 md:py-0;
	} */

	/* .nav-container {
		@apply container mx-auto flex flex-row justify-evenly;
	} */

	/* .single-list {
		@apply mx-auto w-full max-w-[450px] flex justify-between items-center mb-3 py-2 px-3 
			border-2 rounded-lg border-accent cursor-pointer hover:shadow-lg hover:bg-accent 
			hover:text-primary;
		transition:
			background-color 0.3s,
			box-shadow 0.3s;
	} */

	/* .list-item {
		@apply bg-primary text-secondary hover:bg-accent hover:text-primary
			hover:shadow-lg my-2 px-3 py-2 rounded-lg;
		transition:
			background-color 0.3s,
			box-shadow 0.3s;
	} */

	/* .list-item-flex {
		@apply flex items-center justify-between space-x-2;
	} */
}

@layer components {
	.subheading {
		@apply text-center text-2xl mb-4;
	}

	.nav-link {
		@apply flex flex-col lg:flex-row items-center justify-center gap-y-1 lg:gap-x-2 
			leading-tight text-2xl py-3 lg:py-5 hover:text-accent;
	}

	.nav-link.active {
		@apply underline text-accent;
	}

	.form-container {
		@apply mx-auto w-full max-w-[500px];
	}

	.form-group {
		@apply flex justify-between items-center mb-2;
	}

	.form-input {
		@apply border border-accent rounded-lg py-1 px-2 grow;
	}

	.btn-form {
		@apply block mx-auto mt-4 py-1.5 px-3 rounded-full bg-accent text-primary 
			hover:shadow-lg;
	}

	.btn-auth {
		@apply rounded-full p-2 md:p-3 inline-flex items-center gap-3 border-2
			border-accent text-accent hover:bg-accent hover:text-primary
			dark:border-primary dark:text-primary dark:hover:bg-primary dark:hover:text-secondary;
	}

	.item-transition {
		transition:
			background-color 0.4s,
			box-shadow 0.3s;
	}
}
