@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-blue-950 font-sans;
	}

	a {
		@apply cursor-pointer;
	}

	.Layout {
		@apply flex flex-col;
		height: 100dvh;
	}

	.logo {
		@apply text-2xl md:text-3xl flex flex-row items-center md:gap-2;
		font-family: 'Gloria Hallelujah', sans-serif;
	}

	.logo img {
		@apply h-[50px] md:h-[60px];
	}

	.Layout-header,
	.Nav {
		@apply bg-yellow-200;
	}

	.Layout-header {
		@apply mb-6 md:mb-12 lg:mb-16;
	}

	.Header-container {
		@apply container mx-auto flex justify-between items-center p-2;
	}

	.Layout-main {
		@apply mx-auto p-2;
		width: min(700px, 100%);
	}

	.Nav {
		@apply bottom-0 fixed w-full p-2 md:py-0;
	}

	.Nav-container {
		@apply container mx-auto flex flex-row justify-evenly;
	}

	.Nav-link {
		@apply flex flex-col lg:flex-row items-center justify-center gap-y-1 lg:gap-x-2 
			leading-tight text-2xl p-3 lg:p-5 rounded-[30px];
	}

	.Nav-link.active {
		@apply underline bg-yellow-400;
	}
}
