@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-sans bg-base text-secondary dark:bg-secondary dark:text-base;
	}

	a,
	button {
		@apply cursor-pointer;
	}

	.logo {
		@apply text-2xl md:text-3xl flex flex-row items-center md:gap-2
			text-accent dark:text-primary;
		font-family: 'Gloria Hallelujah', sans-serif;
	}
}

@layer components {
	.subheading {
		@apply text-center text-2xl mb-4;
	}

	.nav-link {
		@apply flex flex-col lg:flex-row items-center justify-center gap-y-1 lg:gap-x-2 
			leading-tight text-2xl py-3 lg:py-5 hover:text-accent;
	}

	.nav-link.active {
		@apply underline text-accent;
	}

	.form-container {
		@apply mx-auto w-full max-w-[500px];
	}

	.form-group {
		@apply flex justify-between items-center mb-2;
	}

	.form-input {
		@apply border border-accent rounded-lg py-1 px-2 grow;
	}

	.btn-form {
		@apply block mx-auto mt-4 py-1.5 px-3 lg:py-2 rounded-full bg-accent text-primary 
			hover:shadow-lg;
	}

	.btn-auth {
		@apply rounded-full p-2 md:p-3 inline-flex items-center gap-3 border-2
			border-accent text-accent hover:bg-accent hover:text-primary
			dark:border-primary dark:text-primary dark:hover:bg-primary dark:hover:text-secondary;
	}

	.item-transition {
		transition:
			background-color 0.4s,
			box-shadow 0.3s;
	}
}
